<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="C:\PycharmProjects3\Recruitment" />
    <add key="DJANGO_SETTINGS_MODULE" value="Recruitment.settings" />
    <add key="WSGI_LOG" value="C:\PycharmProjects3\log\wfastcgi.log"/>
  </appSettings>
  <system.webServer>
    <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\PycharmProjects3\venv\Scripts\python.exe|C:\PycharmProjects3\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>